In [1]:
import numpy as np
import pandas as pd
array = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(array)
df
# this is fast then the ordinary array

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
# iske columns aur rows ki indexes bhi change hoskte hain same like list of lists way
df1 = pd.DataFrame(array,index=['row1','row2'],columns=['col1','col2','col3'])
df1

      col1  col2  col3
row1     1     2     3
row2     4     5     6

In [7]:
# ager lists main no of elements different ho tou aik hi column main sb elements ko daal dia jayega
array1 = np.array([[1,2,3],[4,5],[6]])
df2 = pd.DataFrame(array1)
df2

C:\Users\H\AppData\Local\Temp/ipykernel_14624/3547416978.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  array1 = np.array([[1,2,3],[4,5],[6]])

           0
0  [1, 2, 3]
1     [4, 5]
2        [6]

In [ ]:
# is may rows k index change hain but column ka index aik hi hai!