In [1]:
import pandas as pd
dict1 = {'name':'Shahzaneer','semester':'03','University':'CUI'}
dict2 = {'name':'Rameez','semester':'04','University':'GCU'}
dict3 = {'name':'Musab','semester':'04','University':'Riphah'}

df = pd.DataFrame([dict1,dict2,dict3])
df
# is trh list of dictionaries se bhi dataframe bn skta hai
# keys jo same hain wo headings bn gyi hain aur values biltarteeb aagyin hain

         name semester University
0  Shahzaneer       03        CUI
1      Rameez       04        GCU
2       Musab       04     Riphah

In [2]:
dict1 = {'name':'Shahzaneer','semester':'03','University':'CUI'}
dict2 = {'name':'Rameez','semester':'04','University':'GCU'}
dict3 = {'name':'Musab','semester':'04','University':'Riphah','College':'Unique'}
df2 = pd.DataFrame([dict1,dict2,dict3])
df2
# ab College bhi key hone ki wajeh se aagya hai heading main but q k iske corresponding dict1 dict 2 main koi value nhi hai tou NaN aya hai

         name semester University College
0  Shahzaneer       03        CUI     NaN
1      Rameez       04        GCU     NaN
2       Musab       04     Riphah  Unique

In [3]:
df3 = pd.DataFrame([dict1,dict2,dict3],index=['a','b','c'])
df3
# index ko list main pass kr k hum indexing change bhi krskte hain

         name semester University College
a  Shahzaneer       03        CUI     NaN
b      Rameez       04        GCU     NaN
c       Musab       04     Riphah  Unique