In [3]:
import pandas as pd
df = pd.DataFrame({'Marketing':['Fawad',24,'Male'],'Sales':['Nimra',22,'Female']},index = ['name','age','sex'])

df

     Marketing   Sales
name     Fawad   Nimra
age         24      22
sex       Male  Female

In [4]:
df.index
# row k index yani headings

Index(['name', 'age', 'sex'], dtype='object')

In [5]:
df.columns 
# column ki headings yani indexes

Index(['Marketing', 'Sales'], dtype='object')

In [6]:
df.dtypes
# har column ki data type explicitly btayega yeh

Marketing    object
Sales        object
dtype: object

In [7]:
df.axes
# rows aur column dono k indexes yani headings print karega yeh

[Index(['name', 'age', 'sex'], dtype='object'),
 Index(['Marketing', 'Sales'], dtype='object')]

In [8]:
len(df) #no of rows

3

In [9]:
df.size
# total number of elements

6

In [10]:
df.shape #rows,columns

(3, 2)

In [2]:
df.ndim
# dimension

NameError: name 'df' is not defined

In [12]:
df.empty

False

In [15]:
# count is used to count values other than NaN values
# 0 means rows are under consideration and 1 means columns are under consideration
df.count()
df.count(0)
df.count(axis='index')

Marketing    3
Sales        3
dtype: int64

In [20]:
df.count(1)
df.count(axis = 'columns')

name    2
age     2
sex     2
dtype: int64

In [22]:
# tranpose bhi lia jaskta hai 
df.T
# row column aur column row bn gyi!

            name age     sex
Marketing  Fawad  24    Male
Sales      Nimra  22  Female