In [1]:
import pandas as pd
list1 = [10,20,30]
list2 = [40,50,60]
list3 = [70,80,90]
lista = [list1,list2,list3]
df = pd.DataFrame(lista)
df

# ab yeh chunkay list of list hai yahan koi key nhi tou indexes hi headings hongi!
# mazeed yeh k headings/indexes dono trff ayengay

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [2]:
# hum inki indexing bhi change kr skte hain 
# index = list dekar hum rows ki indexing change krte hain aur columns k liay column = list houta hai 
df1 = pd.DataFrame(lista,index=['row1','row2','row3'])
df1

       0   1   2
row1  10  20  30
row2  40  50  60
row3  70  80  90

In [3]:
df2 = pd.DataFrame(lista,index=['row1','row2','row3'],columns = ['column1','column2','column3'])
df2

      column1  column2  column3
row1       10       20       30
row2       40       50       60
row3       70       80       90