In [1]:
import pandas as pd
obj1 = pd.Series([1,2,3,4,5])
obj1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
obj1>2 #true/false return karega

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [3]:
obj1[obj1>2] #jo elements greater than 2 hain unkay index k saath saath return krega actual series values

2    3
3    4
4    5
dtype: int64