In [1]:
import numpy as np
import pandas as pd
populationValues = [10000,12000,15000,20000]
schoolValues = [7500,7800,6600,8000]
HospitalValues = [1500,2000,1800,1700]

dict1 = {'Population':populationValues,'Hospitals':HospitalValues,"Schools":schoolValues}
cities = ['Lahore','Karachi','Islamabad','Quetta']
df5 = pd.DataFrame(dict1,index=cities)
df5

           Population  Hospitals  Schools
Lahore          10000       1500     7500
Karachi         12000       2000     7800
Islamabad       15000       1800     6600
Quetta          20000       1700     8000

In [2]:
for (a,b) in df5.iterrows():
    print('The row ',a,'contains ',b, ' Elements')

The row  Lahore contains  Population    10000
Hospitals      1500
Schools        7500
Name: Lahore, dtype: int64  Elements
The row  Karachi contains  Population    12000
Hospitals      2000
Schools        7800
Name: Karachi, dtype: int64  Elements
The row  Islamabad contains  Population    15000
Hospitals      1800
Schools        6600
Name: Islamabad, dtype: int64  Elements
The row  Quetta contains  Population    20000
Hospitals      1700
Schools        8000
Name: Quetta, dtype: int64  Elements

In [6]:
for (a,b) in df5.iteritems():
    print('The column ',a,'contains')
    for (i) in b:
        print(b)
        break

The column  Population contains
Lahore       10000
Karachi      12000
Islamabad    15000
Quetta       20000
Name: Population, dtype: int64
The column  Hospitals contains
Lahore       1500
Karachi      2000
Islamabad    1800
Quetta       1700
Name: Hospitals, dtype: int64
The column  Schools contains
Lahore       7500
Karachi      7800
Islamabad    6600
Quetta       8000
Name: Schools, dtype: int64

In [7]:
# iterrows for iterating over rows , itercolumns for iterating over columns