In [3]:
import numpy as np
import pandas as pd
populationValues = [10000,12000,15000,20000]
schoolValues = [7500,7800,6600,8000]
HospitalValues = [1500,2000,1800,1700]

dict1 = {'Population':populationValues,'Hospitals':HospitalValues,"Schools":schoolValues}
cities = ['Lahore','Karachi','Islamabad','Quetta']
df5 = pd.DataFrame(dict1,index=cities)
df5

           Population  Hospitals  Schools
Lahore          10000       1500     7500
Karachi         12000       2000     7800
Islamabad       15000       1800     6600
Quetta          20000       1700     8000

In [5]:
df5.[['Population','Schools']]

SyntaxError: invalid syntax (Temp/ipykernel_14608/3245675388.py, line 1)