In [1]:
import numpy as np
import pandas as pd
populationValues = [10000,12000,15000,20000]
schoolValues = [7500,7800,6600,8000]
HospitalValues = [1500,2000,1800,1700]

dict1 = {'Population':populationValues,'Hospitals':HospitalValues,"Schools":schoolValues}
cities = ['Lahore','Karachi','Islamabad','Quetta']
df5 = pd.DataFrame(dict1,index=cities)
df5

           Population  Hospitals  Schools
Lahore          10000       1500     7500
Karachi         12000       2000     7800
Islamabad       15000       1800     6600
Quetta          20000       1700     8000

In [3]:
df5.Population['Lahore'] #Accessing Individual Elements!

10000

In [4]:
df5.at['Quetta','Schools']

8000

In [5]:
df5.iat[3,2] #Quetta k Schools find krne hon tou.

8000

In [6]:
# adding/modifying columns
df5['Density'] = [1,2,3,4]
df5

           Population  Hospitals  Schools  Density
Lahore          10000       1500     7500        1
Karachi         12000       2000     7800        2
Islamabad       15000       1800     6600        3
Quetta          20000       1700     8000        4

In [8]:
df5.at['Crime Rate'] = [2,4,6,8] #at ka use kr k rows add hotay hain.. adding modifying rows.
df5

            Population  Hospitals  Schools  Density
Lahore         10000.0     1500.0   7500.0      1.0
Karachi        12000.0     2000.0   7800.0      2.0
Islamabad      15000.0     1800.0   6600.0      3.0
Quetta         20000.0     1700.0   8000.0      4.0
Crime Rate         2.0        4.0      6.0      8.0

In [9]:
df5.iloc[4,0] = 99 #accessing single cell and modifying it.
df5

            Population  Hospitals  Schools  Density
Lahore         10000.0     1500.0   7500.0      1.0
Karachi        12000.0     2000.0   7800.0      2.0
Islamabad      15000.0     1800.0   6600.0      3.0
Quetta         20000.0     1700.0   8000.0      4.0
Crime Rate        99.0        4.0      6.0      8.0

In [11]:
# deleting the row or column 

del df5['Density']
df5

            Population  Hospitals  Schools
Lahore         10000.0     1500.0   7500.0
Karachi        12000.0     2000.0   7800.0
Islamabad      15000.0     1800.0   6600.0
Quetta         20000.0     1700.0   8000.0
Crime Rate        99.0        4.0      6.0

In [22]:
# we can also use Drop to delete 

df5.drop(['Schools','Hospitals'], axis=1)
df5 #not deleting tho..

            Population  Hospitals  Schools
Lahore         10000.0     1500.0   7500.0
Karachi        12000.0     2000.0   7800.0
Islamabad      15000.0     1800.0   6600.0
Quetta         20000.0     1700.0   8000.0
Crime Rate        99.0        4.0      6.0

In [30]:
# for deleting thr rows we have to mention the indexes
df5.drop([4,5], axis = 1)
df5

KeyError: '[4 5] not found in axis'

In [38]:
del df5.loc['Crime Rate',:]
df5

AttributeError: __delitem__

In [ ]:
# renaming rows and columns 

df5.rename(index = {'Crime Rate':'NIH'}, )