In [1]:
import pandas as pd
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
import pandas as pd
a = pd.Series(['a','b','c','d'])
a

0    a
1    b
2    c
3    d
dtype: object

In [3]:
import pandas as pd
a = pd.Series((1,2,3,4))
a

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
import pandas as pd
a = pd.Series(range(1,5))
a

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import pandas as pd
a = pd.Series('Shahzaneer Ahmed taking on Pandas')
a

0    Shahzaneer Ahmed taking on Pandas
dtype: object

In [7]:
import pandas as pd
a= pd.Series(["Shahzaneer","Ahmed",'taking','on','pandas'])
a

0    Shahzaneer
1         Ahmed
2        taking
3            on
4        pandas
dtype: object

In [8]:
import numpy as np
import pandas as pd
arr = np.array([1,2,3,4])
a = pd.Series(arr)
a

0    1
1    2
2    3
3    4
dtype: int32

In [9]:
import pandas as pd
arr = pd.Series(['Shahzaneer','Rameez','Zain','Ahmad'],index=['GCU','MAO','GCU','PGC'])
arr

GCU    Shahzaneer
MAO        Rameez
GCU          Zain
PGC         Ahmad
dtype: object

In [13]:
import pandas as pd
qeemat = [1,2,3,4,5]
jageh = ['a','b','c','d','e']

obj = pd.Series(qeemat,index=jageh)
obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
import pandas as pd
qeemat = [1,2,3,4,5]
jageh = ['a','b','c','d','e']

obj = pd.Series(index=jageh,qeemat)
# obj
#positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_9076/230434006.py, line 5)

In [16]:
import pandas as pd
arr = pd.Series({'A':50,'B':55,'C':70})
#dictionary main keys index smjhi jayengi aur  value pair jo hoga wo unki value
arr

A    50
B    55
C    70
dtype: int64

In [17]:
import pandas as pd
arr = pd.Series('Shahzaneer Ahmed',index=(range(1,5)))
# aik value do aur index zyada dedo tou har index same value ko point karega
arr

1    Shahzaneer Ahmed
2    Shahzaneer Ahmed
3    Shahzaneer Ahmed
4    Shahzaneer Ahmed
dtype: object

In [18]:
import pandas as pd
arr = pd.Series(['Shahzaneer','Ahmed'],index=(range(1,5)))
#do values aur 5 index wala scene off hai error ayega 
arr

ValueError: Length of values (2) does not match length of index (4)

In [19]:
import pandas as pd
arr = [1,2,3,4,5]
ind = [0,1,2,5,3]
a = pd.Series(data=arr,index=ind) #we can use the keyword data for values
a

0    1
1    2
2    3
5    4
3    5
dtype: int64