In [1]:
import pandas as pd
obj1 = pd.Series([10,15,20,25])
obj1

0    10
1    15
2    20
3    25
dtype: int64

In [2]:
# object k through puri list k elements ko hum arithmetic operation perform krskte hain 
obj1*2

0    20
1    30
2    40
3    50
dtype: int64

In [3]:
obj1-1

0     9
1    14
2    19
3    24
dtype: int64

In [4]:
obj1+1

0    11
1    16
2    21
3    26
dtype: int64

In [5]:
obj1/5

0    2.0
1    3.0
2    4.0
3    5.0
dtype: float64

In [6]:
#do series k uper operation perform krna ho tou wo indexes k hisab 
# se houta hai same index per elements k darmiyan operation perform houtay hain 
# ager index mojud na ho tou NaN (not a number) return houta hai
obj2 = pd.Series([1,2,3])
obj2

0    1
1    2
2    3
dtype: int64

In [7]:
obj1+obj2   #ab dono main 0 se 2 tk indexes thy tou corresponding values add hogyin jbke 3 position per aik main tha aik main 
# aur aik main na tha tou NaN

0    11.0
1    17.0
2    23.0
3     NaN
dtype: float64